// Logo
@logo_size: 32px;
@logo_color: gray;
// Dimensions
@padding: 10px;
// Font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
@font: 'Josefin Sans', sans-serif;
// Font Size
@fontSize_normal: 22px;
@fontSize_medium: 28px;
@fontSize_large: 34px;
// Font Weight
@weight_small: 100;
@weight_medium: 200;
@weight_large: 300;
// Font Color
@fontColor_light: rgba(173, 173, 173, 0.96);
@fontColor_medium: rgba(119, 119, 119, 0.96);
@fontColor_dark: rgba(52, 52, 52, 0.96);
// Colors
@bg_color: #F7F8F6;
@primary_color: #CFEEFB;
@secondary_color: #F29F96;
@tertiary_color: #C4C4C4;

// -- v1 Elements
// Link Elements
@link_size: 40px;
@link_font_size: 20px;
@link_color: #919191;
@link_margin: 10px;
// Line Elements
@line_width: 65vw;
@line_color: #aeaeae;

// STYLING
html {
    background-color: @bg_color;
    // Font
    font-family: @font;
    font-size: @fontSize_normal;
    font-weight: @weight_small;
    color: @fontColor_light;
}

div#nav-bar {
    justify-content: space-between;
}
// LINKS
div#link-container {
}
div#link-container:nth-child(1) {
    float: left
}
// Link element container
div.link-elements {
    // Dimension
    height: @logo_size + @padding;
    width: @logo_size + @padding;
    // Layout
    border-radius: calc(@padding * 2);
    margin: @padding;
    // Style
    background-color: @tertiary_color;
}
// Links svg logos
svg.logo-vector {
    background-color: @tertiary_color;
    border-radius: calc(@logo_size / 2);
}


// CONTENTS
div#content {

}

// Movie Dashboard
div#md-desc {

}
div#md-tablet-hp {

    img#md-tablet {
        width: 100%;
    }
}
div#md-phone-tech {
}



// Helper Classes
// HELPER CLASSES
// Full flex
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}