// Logo
@logo_size: 32px;
@logo_color: gray;
// Dimensions
@padding: 4px;

/* Logo Div */
div#links-container {
}
div.link-elements {
    // Dimension
    height: @logo_size + @padding;
    width: @logo_size + @padding;
    // Layout
    border-radius: @padding;
    margin: 0 calc(@padding * 2);
    // Style
    background-color: @logo_color;
}
/* Vector Styling */
svg.logo-vector {
    background-color: @logo_color;
    border-radius: calc(@logo_size / 2);
}

// HELPER CLASSES
// Full flex
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}