@line_width: 65vw;
@line_color: #aeaeae;

div#nav-bar {
    display: flex;
}

// Design Elements
.line {
    // Dimension
    width: @line_width;
    // Layout
    margin-bottom: 20px;
    // Style
    border-bottom: 1px solid @line_color;
}